* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 10px 30px;
    background-color: #1e3155;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    color: #ffffff;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px 20px;
    color: #d4d4d4;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 5px;
}

header nav ul li a:hover {
    color: #63ace7;
}

.hero {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 200px;
}

.hero h2 {
    color: #1e3155;
    padding: 30px;
    position: relative;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size: 28px;
    color: #1e3155;
    padding: 20px 20px 20px 10px;
    border-left: solid 6px #1e3155;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    padding: 30px;
}

.about-me p {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-info ul li {
    padding: 20px;
}

.contact-info ul li a {
    justify-content: flex-end;
    color: #63ace7;
    font-weight: bolder;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid #63ace7;
}